[Desktop Entry]
Name=Library
Name[aa]=Maktabata
Name[am]=መጻህፍት ቤት
Name[ar]=المكتبة
Name[ast]=Biblioteca
Name[be]=Бібліятэка
Name[bg]=Библиотека
Name[bn]=লাইব্রেরি
Name[br]=Levraoueg
Name[ca]=Llibreria
Name[cs]=Knihovna
Name[cy]=Llyfrgell
Name[da]=Samling
Name[de]=Bibliothek
Name[el]=Βιβλιοθήκη
Name[eo]=Biblioteko
Name[es]=Biblioteca
Name[et]=Kogumik
Name[eu]=Liburutegia
Name[fa]=کتابخانه
Name[fi]=Kirjasto
Name[fil]=Aklatan
Name[fr]=Bibliothèque
Name[fr_CA]=Bibliothèque
Name[gl]=Biblioteca
Name[gu]=લાઇબ્રેરી
Name[he]=ספרייה
Name[hi]=संग्रह
Name[hr]=Zbirka
Name[hu]=Gyűjtemény
Name[ia]=Libreria
Name[id]=Pustaka
Name[ie]=Biblioteca
Name[is]=Safn
Name[it]=Libreria
Name[ja]=ライブラリ
Name[ka]=ბიბლიოთეკა
Name[kab]=Tamkaṛḍit
Name[kk]=Жинақ
Name[kn]=ಲೈಬ್ರರಿ
Name[ko]=라이브러리
Name[ku]=Pirtûkxane
Name[la]=Bibliotheca
Name[lt]=Biblioteka
Name[mk]=Библиотека
Name[ml]=ലൈബ്രറി
Name[ms]=Pustaka
Name[nb]=Bibliotek
Name[nl]=Bibliotheek
Name[nn]=Bibliotek
Name[oc]=Bibliotèca
Name[pl]=Biblioteka
Name[pt]=Biblioteca
Name[pt_BR]=Biblioteca
Name[ro]=Bibliotecă
Name[ru]=Библиотека
Name[rue]=Бібліотека
Name[sk]=Knižnica
Name[sl]=Knjižnica
Name[sr]=Библиотека
Name[sr@latin]=Biblioteka
Name[sv]=Bibliotek
Name[szl]=Bibliotyka
Name[te]=లైబ్రరీ
Name[th]=คลัง
Name[tr]=Kütüphane
Name[tt]=Китапханә
Name[uk]=Бібліотека
Name[uz]=Kutubxona
Name[vi]=Thư viện
Name[zh_CN]=书库
Name[zh_TW]=檔案庫
Comment=Recent and favorite documents
Comment[aa]=Axayih kee assakoot le sanaditte
Comment[am]=የ ቅርብ ጊዜ እና የምወዳቸው ሰነዶች
Comment[ar]=المستندات المستخدمة حديثا والمفضلة
Comment[ast]=Ficheros recientes ya favoritos
Comment[be]=Нядаўнія і абраныя дакументы
Comment[bg]=Скорошни и любими документи
Comment[bn]=সাম্প্রতিক এবং প্রিয় নথিগুলো
Comment[ca]=Documents recents i preferits
Comment[cs]=Nedávné a oblíbené dokumenty
Comment[cy]=Dogfennau diweddar a hoff ddogfennau
Comment[da]=Seneste og favoritdokumenter
Comment[de]=Letzte und favorisierte Dokumente
Comment[el]=Πρόσφατα και αγαπημένα έγγραφα
Comment[en_GB]=Recent and favourite documents
Comment[eo]=Lastaj kaj plej ŝatataj dokumentoj
Comment[es]=Documentos recientes y favoritos
Comment[et]=Viimased ja lemmik dokumendid
Comment[eu]=Azken dokumentuak eta gogokoak
Comment[fa]=پرونده های اخیر و موردعلاقه
Comment[fi]=Edelliset ja suositut asiakirjat
Comment[fil]=Mga kasalukuyan at paboritong dokumento
Comment[fr]=Documents favoris et récents
Comment[fr_CA]=Documents récents  et favoris
Comment[gl]=Documentos recentes e favoritos
Comment[gu]=તાજેતરના અને મનપસંદ ડોક્યુમેન્ટ્સ
Comment[he]=מסמכים אחרונים ומועדפים
Comment[hi]=हालिया व पसंदीदा प्रलेख
Comment[hr]=Nedavni i omiljeni dokumenti
Comment[hu]=Legutóbbi és kedvenc dokumentumok
Comment[ia]=Documentos recente e favoritos
Comment[id]=Dokumen terbaru dan favorit
Comment[ie]=Recent e preferet documentes
Comment[is]=Nýleg og eftirlætisskjöl
Comment[it]=Documenti recenti e preferiti
Comment[ja]=最近またはお気に入りのドキュメント
Comment[ka]=უახლესი და რჩეული დოკუმენტები
Comment[kab]=Isemliyen n melmi kan akked yinurifen
Comment[kk]=Жуырдағы мен таңдаулы құжаттар
Comment[kn]=ಇತ್ತೀಚಿನ ಮತ್ತು ಅಚ್ಚುಮೆಚ್ಚಿನ ದಾಖಲೆಗಳು
Comment[ko]=즐겨찾기 및 최근 사용한 문서
Comment[ku]=Belgeyên dawî û bijare
Comment[la]=Documenta recenta atque praeposita
Comment[lt]=Naujausi ir mėgstamiausi dokumentai
Comment[mk]=Неодамнешни и омилени документи
Comment[ml]=സമീപകാലവും പ്രിയപ്പെട്ടതുമായ രേഖകൾ
Comment[ms]=Dokemen terkini dan kegemaran
Comment[nb]=Nylige og favorittdokumenter
Comment[nl]=Recente en favoriete documenten
Comment[oc]=Documents recents e favorits
Comment[pl]=Ostatnie i ulubione dokumenty
Comment[pt]=Documentos recentes e favoritos
Comment[pt_BR]=Documentos recentes e favoritos
Comment[ro]=Documente favorite și recente
Comment[ru]=Недавние и избранные документы
Comment[rue]=Послїдні ай облюблені документы
Comment[sk]=Nedávno otvorené a obľúbené dokumenty
Comment[sl]=Nedavni in priljubljeni dokumenti
Comment[sr]=Скорашњи и омиљени документи
Comment[sr@latin]=Nedavno korišćeni i omiljeni dokumenti
Comment[sv]=Senaste och bokmärkta dokument
Comment[szl]=Nojnowsze i nojrŏdsze dokumynta
Comment[te]=ఇటీవలి మరియు ఇష్టమైన పత్రాలు
Comment[th]=เอกสารล่าสุดและเอกสารโปรด
Comment[tr]=Son ve sık kullanılan belgeler
Comment[tt]=Соңгы һәм яраткан документлар
Comment[uk]=Останні та улюблені документи
Comment[uz]=Oxirgi va sevimli hujjatlar
Comment[vi]=Các tệp tin gần đây và yêu thích
Comment[zh_CN]=最近及收藏的文件
Comment[zh_TW]=最近開啟以及最愛的檔案
Exec=thingy
Icon=thingy
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;Office;
Keywords=files;collection;documents;recent;favorite
StartupNotify=false
